.pf-card-wrapper {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pf-card-deck {
    position: relative;
    padding: 0px 0px 0px 0.2em;
    margin: 0px;
    overflow-x: auto;
    min-height: 5em;
    height: 100%;
}

.pf-card-deck-reserve {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.pf-card-root {
    position: absolute;
    top: 0.1em;
    bottom: 0.1em;
    overflow: hidden;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.pf-card-box {
    flex-grow: 1;

    border: 1px solid #888;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.pf-card-maximized {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
}

.pf-card-titlebar {
    background: #d8d8e0;
    padding: 0.1em;
    min-height: 1.2em;
    display: flex;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    font-size: 90%;
}

.pf-card-titletext {
    font-family: helvetica, arial;
    display: inline-block;
    overflow: hidden;
    padding-left: 0.1em;
    flex-grow: 1;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.pf-card-button {
    font-weight: 100;
    color: #aaa;
    padding-right: 0.15em;
    padding-left: 0.15em;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.pf-card-toggled {
    color: #484;
}

.pf-card-button:hover {
    color: black;
}

.pf-card-content {
    overflow: auto;
    flex-grow: 1;
}

.pf-card-sizer {
    width: 0.3em;
    min-width: 0.3em;
    max-width: 0.3em;
    cursor: ew-resize;
}

